<html xmlns:th="http://www.thymeleaf.org">
	<html xmlns:th="http://www.thymeleaf.org">
		<head th:replace="~{/common/head}">
		</head>
		<body>
		    <!-- (2)body内で共通化したい部品をfragment化する -->
		    <header th:replace="~{/common/header}"></header>
			<main>
				<div class="scroll">
					<table border="0" class="reservelist">
										<tr><td>日付</td><td th:text="${ #temporals.format(item.businessday, 'yyyy-MM-dd')} ">
											<td rowspan="5"><input type="submit" name="input" value="詳細・ご予約"><td></tr>
										<tr><td>部屋名 </td><td th:text="${item.room.roomName}"></td></tr>
										<tr><td></td><td><img class="roomimage"   th:src="@{${item.room.roomImage}}"/></td></tr>
										<tr><td>1名1泊 </td><td th:text="${#numbers.formatInteger(item.room.price, 3, 'COMMA') + '円'}"></td> </tr>
										<tr><td>内風呂 </td><td th:text="${item.room.inDoorBathRoom == false} ? 'なし' : 'あり'"></td> </tr>
										<tr><td>喫煙 </td><td th:text="${item.room.smoking == false} ? '禁煙' : '喫煙OK'"></td> </tr>
								<form th:action="@{/reserve/update}" method="post">
									<input type="submit" name="input" value="変更">										
								</form>
								<form th:action="@{/reserve/cancel}" method="post">
									<input type="submit" name="input" value="キャンセル確認">																		
								</form>
								<br>
								<hr/>
							</td>
						</tr>
					</table>
				</div>
			</main>
			<footer th:replace="~{/common/footer}"></footer>
		</body>
</html>