<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/common/head}">
	</head>
	<body>
	    <!-- (2)body内で共通化したい部品をfragment化する -->
	    <header th:replace="~{/common/header}"></header>
		<main>
			<p>以下の内容で変更を承りました</p>
			<form th:action="@{/reserve/search}" th:object="${updateForm}"  method="get">
				<table>
					<tr><td>日付</td><td th:text="*{ #temporals.format(checkIn, 'yyyy-MM-dd')} "></tr>
					<tr><td>部屋名</td><td th:text="*{roomName}"></td></tr>
					<tr><td>お部屋イメージ</td><td><img th:src="@{*{roomImage}}"/></td></tr>
					<tr><td>内風呂</td><td th:text="*{inDoorBathRoom == false } ? 'なし' : 'あり'"></td> </tr>
					<tr><td>喫煙</td><td th:text="*{smoking == false} ? '喫煙OK' : '禁煙'"></td> </tr>
					<tr><td>宿泊人数</td><td th:text="*{stayNumberOfPeople}"></td></tr>
					<tr><td>食事</td><td th:text="*{meal} ? 'あり' : 'なし'"></td></tr>
					<tr><td>合計金額 </td><td th:text="*{#numbers.formatInteger(amount, 3, 'COMMA') + '円'}"></td> </tr>
					<tr><td><input type="submit"  value="予約"><input type="submit" name="input" value="戻る"> </td></tr>
				</table>
			</form>			
		</main>
		<footer th:replace="~{/common/footer}"></footer>
	</body>
</html>