<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/common/head}">
	</head>
	<body>
	    <!-- (2)body内で共通化したい部品をfragment化する -->
	    <header th:replace="~{/common/header}"></header>
		<main>

			<form th:action="@{/reserve/update}" th:object="${registerForm}"  method="post">
				<table>
					<tr><td>日付</td><td th:text="${ #temporals.format(registerForm.checkIn, 'yyyy-MM-dd')} "></tr>
					<tr><td>部屋名</td><td th:text="${registerForm.roomName}"></td></tr>
					<tr><td>お部屋イメージ</td><td><img th:src="@{${registerForm.roomImage}}"/></td></tr>
					<tr><td>内風呂</td><td th:text="${registerForm.inDoorBathRoom == false } ? 'なし' : 'あり'"></td> </tr>
					<tr><td>喫煙</td><td th:text="${registerForm.smoking == false} ? '喫煙OK' : '禁煙'"></td> </tr>
					<tr><td>宿泊人数</td><td th:text="${registerForm.stayNumberOfPeople}"></td></tr>
					<tr><td>食事</td><td th:text="${registerForm.meal} ? 'あり' : 'なし'"></td></tr>
					<!-- <tr><td>宿泊料金</td><td th:text="${registerForm.amount}"></td></tr> -->
					<tr><td>宿泊料金</td><td th:text="${#numbers.formatInteger(registerForm.amount, 3, 'COMMA')+ '円'}"></td></tr>
					
			
					<tr><td><input type="submit" name="commit" value="予約"><input type="submit" name="input" value="戻る"> </td></tr>
				</table>
			</form>			
		</main>
		<footer th:replace="~{/common/footer}"></footer>
	</body>
</html>