
<header　th:fragment="header">
	<div class="header-logo">
		<h4>三朝温泉旅館美人の湯　予約システム</h4>
	</div>
    <nav class="header-list">
        <ul >
            <li>
                <a th:href="@{/reservable/search}">空室検索</a>
            </li>
  
            <li>
                <a th:href="@{/reserve/search}">予約確認・変更・キャンセル</a>
            </li>
  
            <li>
                <a th:href="@{/logout}">ログアウト</a>
            </li>
  
            <li>
                <a href="#">お問い合わせ</a>
            </li>
			
			<li>
				<div class="navbar-text" th:if="${#authorization.expression('isAuthenticated()')}">
				        ようこそ <span sec:authentication="principal.fullName"></span> さん
				</div>	 
           </li>
        </ul>
  </nav>	
</header>
<hr/>
